* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Maven Pro';
  src: url('./fonts/MavenPro-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pacifico';
  src: url('./fonts/Pacifico-Regular.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 0px;
  font-family: Maven Pro, cursive;
  color: #35495e;
  background-color: white;
  background: hotpink;
}
/* --------------------container---------------- */

.container {
  max-width: 980px;
  margin: 0 auto 50px auto;
}

@media only screen and (max-width: 1125px) {
  .container {
    max-width: 880px;
  }
}

@media only screen and (max-width: 1060px) {
  .container {
    max-width: 780px;
  }
}

@media only screen and (max-width: 915px) {
  .container {
    max-width: 680px;
  }
}

@media only screen and (max-width: 820px) {
  .container {
    max-width: 600px;
  }
}

@media only screen and (max-width: 720px) {
  .container {
    max-width: 500px;
  }
}

@media only screen and (max-width: 580px) {
  .container {
    padding: 0 20px 20px 20px;
  }
}
/* --------------------container---------------- */

h2 {
  padding: 0;
  margin: 0;
  font-size: 1.5rem;
}

.chat-icon {
  text-align: center;
  cursor: pointer;
  float: right;
  color: inherit;
  background: inherit;
  border: none;
}

/* --------------------helper---------------- */

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.clean-list {
  list-style-type: none;
  padding: 0;
  margin: 0;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
.direction-column {
  flex-direction: column;
}
input {
  padding: 5px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
