* {
  box-sizing: border-box;
}

@font-face {
  font-family: 'Maven Pro';
  src: url('./fonts/MavenPro-Regular.ttf') format('truetype');
}

html,
body {
  margin: 0;
  padding: 5px;
  font-family: Maven Pro, cursive;
  color: #35495e;
  background-color: white;
}

/* --------------------helper---------------- */

.flex-col {
  display: flex;
  flex-direction: column;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.clean-list {
  list-style-type: none;
}
.space-between {
  justify-content: space-between;
}
.space-around {
  justify-content: space-around;
}
.justify-center {
  justify-content: center;
}
input {
  padding: 5px;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
}
